
BANKA000BITMAP  BITMAP  "BANKA000.BMP"
BANKA100BITMAP  BITMAP  "BANKA100.BMP"
BANKA101BITMAP  BITMAP  "BANKA101.BMP"

LUPAMINSCURSOR  CURSOR  "LUPAMINS.CUR"
LUPAPLUSCURSOR  CURSOR  "LUPAPLUS.CUR"
RUKACURSOR      CURSOR  "RUKA.CUR"
RUKADRZICURSOR  CURSOR  "RUKADRZI.CUR"
RUKAPLUSCURSOR  CURSOR  "RUKAPLUS.CUR"
RUKAUKAZCURSOR  CURSOR  "RUKAUKAZ.CUR"
TUZKACURSOR     CURSOR  "TUZKA.CUR"

// ======================= Prefix sériového èísla ==========================
STRINGTABLE
BEGIN
200, "CZ0#1421"
END

// ========================= Definice textù ================================
#define CZ  1000
#define EN  2000

#define IDS_CAPTION                0

#define IDS_MENU_SKLADEJ_SCENA    20
#define IDS_MENU_SKLADEJ_UPRAV    40
#define IDS_MENU_SKLADEJ_ZOBRAZ   50
#define IDS_MENU_SKLADEJ_VOLBY    60
#define IDS_MENU_SKLADEJ_HELP     70

#define IDS_MENU_CARUJ_SCENA      80
#define IDS_MENU_CARUJ_UPRAV     100
#define IDS_MENU_CARUJ_ZOBRAZ    120
#define IDS_MENU_CARUJ_VOLBY     130
#define IDS_MENU_CARUJ_HELP      140

#define IDS_MENU_PROGR_PROGRAM   150
#define IDS_MENU_PROGR_UPRAV     170
#define IDS_MENU_PROGR_ZOBRAZ    270
#define IDS_MENU_PROGR_VOLBY     280
#define IDS_MENU_PROGR_HELP      290

#define IDS_MAINFORM             300
#define IDS_TABBED_0             330
#define IDS_TABBED_1             350
#define IDS_TABBED_2             365
#define IDS_PROGRAM_ICON         380

#define IDS_ABOUT                420
#define IDS_SELECT               440
#define IDS_EDIT                 450
#define IDS_HLAS                 480
#define IDS_REGISTR              490

// èeština  CZ
#include "BALTIKW2.RCC"

// anliètina EN
#include "BALTIKW2.RCE"
