
MAINICON        ICON    "BALTIK.ICO"
BALTIKBITMAP    BITMAP PRELOAD  "BALTIK.BMP"

NEWBITMAP       BITMAP PRELOAD  "NEW.BMP"
LOADBITMAP      BITMAP PRELOAD  "LOAD.BMP"
SAVEBITMAP      BITMAP PRELOAD  "SAVE.BMP"
EXITBITMAP      BITMAP PRELOAD  "EXIT.BMP"
SGPBITMAP       BITMAP PRELOAD  "SGP.BMP"
STARTBITMAP     BITMAP PRELOAD  "START.BMP"
PAUSEBITMAP     BITMAP PRELOAD  "PAUSE.BMP"
SELECTBITMAP    BITMAP PRELOAD  "SELECT.BMP"
EDITBITMAP      BITMAP PRELOAD  "EDIT.BMP"

BANKA000BMP     BITMAP  "BANKA000.BMP"
BANKA001BMP     BITMAP  "BANKA001.BMP"
BANKA002BMP     BITMAP  "BANKA002.BMP"
BANKA003BMP     BITMAP  "BANKA003.BMP"
BANKA004BMP     BITMAP  "BANKA004.BMP"
BANKA005BMP     BITMAP  "BANKA005.BMP"
BANKA100BMP     BITMAP  "BANKA100.BMP"
BANKA101BMP     BITMAP  "BANKA101.BMP"

MAINMENU        MENU PRELOAD
BEGIN
                POPUP "&Soubor"
                BEGIN
                        MENUITEM "&Nový\aCtrl+N",100
                        MENUITEM "&Otevøít...\aCtrl+O",101
                        MENUITEM "&Uložit\aF2",102
                        MENUITEM "Uložit &jako...\aCtrl+S",103
                        MENUITEM "&Start",104
                        MENUITEM SEPARATOR
                        MENUITEM "&Konec\aAlt+F4",199
                END
                POPUP "&Nápovìda"
                BEGIN
                        MENUITEM "&O programu Baltík...\aF1",200
                END
END

AboutBox        DIALOG 20, 20, 140, 70
STYLE  DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "To je malé okénko"
BEGIN
 CTEXT "Window"         -1, 0, 5, 144, 8
   CTEXT "Generic"      -1, 0, 14, 144, 8
   CTEXT "verze"        -1, 0, 24, 144, 8
 DEFPUSHBUTTON "OK"     IDOK, 13, 39, 36, 16, WS_GROUP
 ICON "Ikona",-1,63,39,16,16
 DEFPUSHBUTTON "Nešahat !"  IDCANCEL, 93, 39, 36, 16, WS_GROUP
END
